<div class="jumbotron jumbotron-fluid py-4">
	<div class="container-fluid">
		<h1 class="display-3">Error 404</h1>
		<p class="lead">Ghost station!</p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card text-white bg-danger mb-3">
				<div class="card-body">
					<h5 class="card-title">The page you were looking for doesn't exist.</h5>
					<p class="card-text">You may have mistyped the address or the page may have moved.</p>
				</div>
			</div>
		</div>
	</div>
</div>
