<div class="jumbotron jumbotron-fluid py-4 mb-3">
	<div class="container-fluid">
		<a routerLink='/blog' class="text-decoration-none">
			<h1 class="display-3">Development blog</h1>
		</a>
	</div>
</div>
<div class="container-fluid" *ngIf="entry$ | async as entry">
	<div class="row">
		<div class="col" id="content-blog-entry">
			<h2>
				{{entry?.title}}
				<small>
					<span class="badge badge-secondary">{{entry?.date | date:'d MMM yyyy' }}</span>
				</small>
			</h2>
			<markdown [data]="entry?.entry" ngPreserveWhitespaces></markdown>
		</div>
	</div>
</div>
