<ng-container *ngIf="line$ | async as line">
  <div class="jumbotron jumbotron-fluid line-{{ line?.id }} py-4 mb-3">
    <div class="container-fluid">
      <h1 class="display-3">
        <metex-line-badge *ngIf="line" [line]="line"></metex-line-badge> Line
        {{ line?.name }}
      </h1>
    </div>
  </div>
  <div class="container-fluid line-{{ line?.id }}">
    <div class="row">
      <div class="col">
        <p>{{ line?.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list-group">
          <a *ngFor="let station of line?.stations"
            class="list-group-item list-group-item-action"
            [routerLink]="['./', station?.slug]"
          >
            <fa-icon [icon]="faPlusCircle"></fa-icon>
            {{ station?.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
