<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" routerLink="/">
		mét<strong>ex</strong>
	</a>
	<button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed" aria-controls="navbar-collapse" [attr.aria-expanded]="!menuCollapsed" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-collapse" [ngbCollapse]="menuCollapsed">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/lines" (click)="menuCollapsed = true">lines</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/places" (click)="menuCollapsed = true">places</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/blog" (click)="menuCollapsed = true">dev blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/Orforio/MetEX" title="Github">
					<fa-icon [icon]="faGithub"></fa-icon>
					<span class="sr-only">Github</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid my-3">
	<div class="row">
		<div class="col-sm">
			<div class="card bg-light text-center">
				<div class="card-body">
					<small>&copy;2005-2024 <a routerLink="/blog/about-and-contact">Kit Whittaker</a> - Milestone <em>{{ milestone }}</em> - <a href="https://github.com/Orforio/MetEX/issues">Please report any bugs on Github</a></small>
				</div>
			</div>
		</div>
	</div>
</footer>
