// MétEX Line Colours

$line-colour-1:		#fdd017;	// Line 1
$line-colour-2:		#0000a0;	// Line 2
$line-colour-3:		#808000;	// Line 3
$line-colour-4:		#87d3df;	// Line 3bis
$line-colour-5:		#b93b8f;	// Line 4
$line-colour-6:		#f68f4d;	// Line 5
$line-colour-7:		#78c696;	// Line 6
$line-colour-8:		#f59eb3;	// Line 7
$line-colour-9:		#78c696;	// Line 7bis
$line-colour-10:	#c5a3cc;	// Line 8
$line-colour-11:	#cec82b;	// Line 9
$line-colour-12:	#e0b03a;	// Line 10
$line-colour-13:	#8d663a;	// Line 11
$line-colour-14:	#028d5b;	// Line 12
$line-colour-15:	#89c7d6;	// Line 13
$line-colour-16:	#672f8f;	// Line 14

$line-colours: $line-colour-1, $line-colour-2, $line-colour-3, $line-colour-4, $line-colour-5, $line-colour-6, $line-colour-7, $line-colour-8, $line-colour-9, $line-colour-10, $line-colour-11, $line-colour-12, $line-colour-13, $line-colour-14, $line-colour-15, $line-colour-16;

$text-colour-white:	#ffffff;
$text-colour-black:	#000000;

$interchange-colour: #ff7800;
