/* Bootstrap overrides */
$enable-responsive-font-sizes: true;
$headings-font-weight: 300;

@import '~bootstrap/scss/bootstrap';
@import '~sass-color-helpers/stylesheets/_color-helpers.scss';

@import './colours.scss';

.icon-badge {
	@include border-radius(50%);
	padding: 0.3em 0.2em;
	height: 2em;
	width: 2em;
	display: inline-block;
	text-align: center;
	background-color: $interchange-colour;
	color: $text-colour-black;
}

@for $i from 1 through length($line-colours) {
	.jumbotron.line-#{$i} {
		background-color: nth($line-colours, $i);
		color: ch-best-color-contrast(nth($line-colours, $i), ($text-colour-white, $text-colour-black));

		.line-badge {
			@extend .icon-badge;
			background-color: $text-colour-white;
			color: nth($line-colours, $i);
		}
	}

	li,
	.list-group-item {
		&.line-#{$i} {
			.line-badge {
				@extend .icon-badge;
				background-color: nth($line-colours, $i);
				color: ch-best-color-contrast(nth($line-colours, $i), ($text-colour-white, $text-colour-black));
			}
		}
	}

	.container-fluid.line-#{$i} {
		.carousel-indicators > li {
			background-color: nth($line-colours, $i);
		}
	}
}
