<div class="jumbotron jumbotron-fluid py-4 mb-3">
	<div class="container-fluid">
		<h1 class="display-3">Journeys</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<p>JourneyPlayer test bed</p>
			<!-- <div class="list-group">
				<a *ngFor="let place of places$ | async" class="list-group-item list-group-item-action" [routerLink]="['./', place?.slug]">
					<fa-icon [icon]="faPlusCircle"></fa-icon>
					{{ place?.name }}
				</a>
			</div> -->
		</div>
	</div>
</div>
